services:
  identity-service:
    build:
      context: ./apps/backend/identity-service
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3001:3001"
    env_file:
      - ./apps/backend/identity-service/.env.local
    volumes:
      - ./apps/backend/identity-service:/app
      - /app/node_modules

  finance-service:
    build:
      context: ./apps/backend/finance-service
      dockerfile: Dockerfile
    command: npm run dev
    ports:
      - "3002:3002"
    env_file:
      - ./apps/backend/finance-service/.env.local
    volumes:
      - ./apps/backend/finance-service:/app
      - /app/node_modules

  frontend:
    build:
      context: ./apps/frontend
      dockerfile: Dockerfile
    ports:
      - "80:80"
    depends_on:
      - gateway

  gateway:
    image: nginx:alpine
    ports:
      - "8080:80"
    volumes:
      - ./apps/gateway/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - identity-service
      - finance-service

  backup:
    build:
      context: ./apps/backup
      dockerfile: Dockerfile
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=finance_db
      - AWS_ACCESS_KEY_ID=22824f4caf563e876b2b3f89ed128d5f
      - AWS_SECRET_ACCESS_KEY=0d323cdbb5009c79ddd3978cc23752b42185aa6452111aeae13bd31f2a021660
      - AWS_DEFAULT_REGION=auto
      - R2_ENDPOINT_URL=https://6ce642391b1e371c914286ba7b6ca7c7.r2.cloudflarestorage.com
    depends_on:
      - db
    restart: always

  db:
    image: postgres:15-alpine
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: finance_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
